<!-- Nav Bar-->
<hr/>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blocks">Blocks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/trains">Trains</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/simulation">Simulation Controls</a>
  </li>
</ul>
<hr/>

<!-- Content-->
<div class="container p-md-3 text-center">
  <h2>Throughput Metrics</h2>
  <div class="container p-md-3 text-center">
    <table>
      <tr *ngFor="let line of lines; index as i" class="text-center">
        <td class="p-md-3">
          <label class="form-label">{{line}}</label>
        </td>
        <td>
          <input type="number" class="form-control" [(ngModel)]="throughput[i]" disabled="true"/>
        </td>
        <td class="p-md-3">
          <label class="form-label">Passengers / Hour</label>
        </td>
      </tr>
    </table>
  </div>
</div>
