<!-- Nav Bar-->
<hr/>
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blocks">Blocks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/trains">Trains</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/simulation">Simulation Controls</a>
  </li>
</ul>
<hr/>

<!-- Content-->
<h3 class="text-center">New Train</h3>
<div class="d-grid">
  <a class="btn btn-primary" href="/trains/dispatch">Dispatch New Train</a>
</div>
<h3 class="text-center">All Trains</h3>
<app-train-table></app-train-table>
