<a class="btn btn-secondary" href="/trains">Back</a>
<hr/>

<div class="container border rounded">
  <h4>Dispatch Train</h4>
  <div (ngSubmit)="onSubmit()" class="form p-md-3">
    <div class="mb-3 row">
      <label class="form-label">Train Number</label>
      <input type="number" class="form-control" [(ngModel)]="id" disabled="true"/>
    </div>
    <div class="mb-3 row">
      <label class="form-label">Line</label>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownLineSelect" ngbDropdownToggle>
          {{line}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownLineSelect">
          <button type="button" ngbDropdownItem *ngFor="let li of lines" (click)="setLine(li)">{{li}}</button>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="form-label">Driver</label>
      <input type="text" class="form-control" [(ngModel)]="driver"/>
    </div>
    <div class="mb-3 row">
      <label class="form-label">Stops</label>
      <div class="container text-center">
        <table class="table table-striped">
          <thead>
            <th>Station</th>
            <th>Stop At</th>
            <th>Stop Time</th>
          </thead>
          <tbody>
            <tr *ngFor="let station of stations; let index = index;">
              <td>{{station}}</td>
              <td>
                <input type="checkbox" class="form-check-input p-md-2" [(ngModel)]="stationSelect[index]">
              </td>
              <td>
                <input type="datetime-local" class="form-control" [(ngModel)]="stationTimes[index]">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3 row">
      <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
