<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Line</th>
			<th scope="col">Driver</th>
			<th scope="col">Stops</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let train of trains; index as i">
			<th scope="row">{{ train.id }}</th>
			<td>{{ train.line }}</td>
			<td>{{ train.driver }}</td>
			<td>
        <dl class="row" *ngFor="let stop of train.stops">
          <dt class="col-sm-3">{{ stop.station }}</dt>
          <dd class="col-sm-9">{{ stop.time | date:'d/M/Y - hh:mm:ss a z' }}</dd>
        </dl>
      </td>
		</tr>
	</tbody>
</table>
