<div>
  <div class="container text-centered">
    <div class="mb-3 row">
      <button type="button" class="btn btn-success" (click)="setData()">
        Update Values
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Source</th>
          <th scope="col">Destination 1</th>
          <th scope="col">Destination 2</th>
          <th scope="col">Current Destination</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let switch of waysideSwitches">
          <th>{{switch.source}}</th>
          <td>{{switch.destination1}}</td>
          <td>{{switch.destination2}}</td>
          <td>
            <input type="text" [(ngModel)]="switch.position">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
